main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy; 
    }
   

.tarjeta{
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 99, 99);
    width: 780px;
    height: 450px;
    box-shadow: 5px 10px 15px #0011ff;
    
    }

.descripcion{
    color: aliceblue;

}
    
.galeria{
    background-color: green;
    width: 500px;
    height: 500px;   
    justify-content: left;
    align-items: left;     
}
.galeria_secundaria {
padding: -10px;
width: auto;

margin-left: -90px;
 
 

}

.galeria_principal img{
    width: 300px;
    margin: 30px;
    border-radius: 20px;
    filter: drop-shadow(16px 16px 20px rgb(255, 255, 255) blur(0.1px));



    
    
}

.galeria_principal img:hover{
    
  filter: drop-shadow(20px 20px 20px rgb(255, 255, 255)) saturate(200%);
  transform-style: preserve-3d;
  transform: rotateX(2deg) rotateY(2deg) rotateZ(2deg);
  perspective: 300px;
  
} 

.galeria_secundaria img{
    border-radius: 20px;   
    margin: 10px;
    display:flex;
    width: 90px;
    
    
}

.galeria_secundaria img:hover{
     border-radius: 20px;   
    margin: 10px;
    display:flex;
    width: 120px;
    margin-left: -20px;
    filter: drop-shadow(20px 20px 20px rgb(255, 255, 255)) saturate(200%);
}

.texto {
    padding: -80px;
    color: azure;
    

}
.texto h1:hover{
  transform: scale(1.2);
  color: black;
  filter: drop-shadow(10px 10px 20px rgb(255, 255, 255));
  
}

.texto h3:hover{ 
  color: black;
  filter: drop-shadow(10px 10px 20px rgb(255, 255, 255));
  transform: scale(1.2);
}

.texto p:hover{  
  color: black;
  filter: drop-shadow(10px 10px 20px rgb(255, 255, 255));
  transform: scale(1.2);
  
}






button {
  
  